In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [7]:
names = ['Preg','Plas','press','skin','test','mass','pedi','age','class']
dataset = pd.read_csv(r"C:\Users\Phavour\Downloads\Personal Python-ML project\Simplilearn\Unsupervised workshop\Emsemble Learning\pima-indians-diabetes.data.csv",
                     names=names)
dataset

     Preg  Plas  press  skin  test  mass   pedi  age  class
0       6   148     72    35     0  33.6  0.627   50      1
1       1    85     66    29     0  26.6  0.351   31      0
2       8   183     64     0     0  23.3  0.672   32      1
3       1    89     66    23    94  28.1  0.167   21      0
4       0   137     40    35   168  43.1  2.288   33      1
..    ...   ...    ...   ...   ...   ...    ...  ...    ...
763    10   101     76    48   180  32.9  0.171   63      0
764     2   122     70    27     0  36.8  0.340   27      0
765     5   121     72    23   112  26.2  0.245   30      0
766     1   126     60     0     0  30.1  0.349   47      1
767     1    93     70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [8]:
array = dataset.values

array_x = array[:,0:8]
array_y = array[:,8]

In [10]:
array_x

array([[  6.   , 148.   ,  72.   , ...,  33.6  ,   0.627,  50.   ],
       [  1.   ,  85.   ,  66.   , ...,  26.6  ,   0.351,  31.   ],
       [  8.   , 183.   ,  64.   , ...,  23.3  ,   0.672,  32.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,  26.2  ,   0.245,  30.   ],
       [  1.   , 126.   ,  60.   , ...,  30.1  ,   0.349,  47.   ],
       [  1.   ,  93.   ,  70.   , ...,  30.4  ,   0.315,  23.   ]])

In [11]:
from sklearn.model_selection import KFold
kfold = KFold()
cart = DecisionTreeClassifier()
n_tree = 100

In [12]:
from sklearn.model_selection import cross_val_score
model = BaggingClassifier(estimator=cart,
                         n_estimators=n_tree,
                         random_state=42)

result = cross_val_score(model,array_x, array_y,cv=kfold)

In [13]:
result

array([0.74025974, 0.7012987 , 0.78571429, 0.83660131, 0.76470588])

In [14]:
result.mean()

0.7657159833630421