In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\Phavour\Downloads\Personal Python-ML project\Simplilearn\Workspace\Ridge reg\boston_house_prices.csv")
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [4]:
X = df.drop(['MEDV'],axis=1)
y = df['MEDV']

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.25,random_state=42)

In [7]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score, RepeatedKFold
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
ridge_model = Ridge(alpha=1).fit(xtrain, ytrain)
ridge_model.intercept_

24.87837047296928

In [9]:
y_pred = ridge_model.predict(xtest)
np.sqrt(mean_squared_error(ytest, y_pred))

4.741357980709099

In [10]:
ridge_model.coef_

array([-0.12383039,  0.03139178,  0.01767668,  2.54277179, -8.77249222,
        4.37980204, -0.01537349, -1.29086084,  0.24406848, -0.01082435,
       -0.83346553,  0.01348642, -0.53435396])

In [11]:
r2_score(ytest, y_pred)

0.6789748327846079

In [13]:
from sklearn.model_selection import GridSearchCV
cv = RepeatedKFold(n_splits=10,n_repeats=3,random_state=1)

# defining grid
grid = dict()
grid['alpha'] = np.arange(0,1,0.1)
model = Ridge()
search = GridSearchCV(model, grid, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)

In [16]:
# result
result = search.fit(xtrain, ytrain)
print('MAE: %.3f'% result.best_score_)
print('config: %s' % result.best_params_)

MAE: -3.500
config: {'alpha': 0.7000000000000001}

In [17]:
ridge_model1 = Ridge(alpha=0.7, ).fit(xtrain, ytrain)
y_pred1 = ridge_model1.predict(xtest)
np.sqrt(mean_squared_error(ytest, y_pred1))

4.731437210393683

In [18]:
r2_score(ytest, y_pred1)

0.6803168470441051

In [20]:
pd.Series(ridge_model1.coef_,index=xtrain.columns)

CRIM       -0.124643
ZN          0.031027
INDUS       0.023550
CHAS        2.595725
NOX       -10.178221
RM          4.382223
AGE        -0.014263
DIS        -1.311503
RAD         0.246439
TAX        -0.010654
PTRATIO    -0.850029
B           0.013431
LSTAT      -0.530846
dtype: float64