In [1]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\Phavour\Downloads\Personal Python-ML project\Simplilearn\Workspace\Lasso Reg\Hitters.csv")
df

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497,127,7,65,48,37,5,2703,806,32,379,311,138,N,E,325,9,3,700.0,N
318,492,136,5,76,50,94,12,5511,1511,39,897,451,875,A,E,313,381,20,875.0,A
319,475,126,3,61,43,52,6,1700,433,7,217,93,146,A,W,37,113,7,385.0,A
320,573,144,9,85,60,78,8,3198,857,97,470,420,332,A,E,1314,131,12,960.0,A
321,631,170,9,77,44,31,11,4908,1457,30,775,357,249,A,W,408,4,3,1000.0,A

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AtBat      322 non-null    int64
 1   Hits       322 non-null    int64
 2   HmRun      322 non-null    int64
 3   Runs       322 non-null    int64
 4   RBI        322 non-null    int64
 5   Walks      322 non-null    int64
 6   Years      322 non-null    int64
 7   CAtBat     322 non-null    int64
 8   CHits      322 non-null    int64
 9   CHmRun     322 non-null    int64
 10  CRuns      322 non-null    int64
 11  CRBI       322 non-null    int64
 12  CWalks     322 non-null    int64
 13  League     322 non-null    object
 14  Division   322 non-null    object
 15  PutOuts    322 non-null    int64
 16  Assists    322 non-null    int64
 17  Errors     322 non-null    int64
 18  Salary     263 non-null    float64
 19  NewLeague  322 non-null    object
dtypes: float64(1), int64(16), object(3)
memory usage: 50.4+ KB

In [4]:
df['Salary'].fillna(df['Salary'].median(skipna=True),inplace=True)

In [5]:
df.isna().sum()

AtBat        0
Hits         0
HmRun        0
Runs         0
RBI          0
Walks        0
Years        0
CAtBat       0
CHits        0
CHmRun       0
CRuns        0
CRBI         0
CWalks       0
League       0
Division     0
PutOuts      0
Assists      0
Errors       0
Salary       0
NewLeague    0
dtype: int64

In [6]:
dms = pd.get_dummies(df[['League','Division','NewLeague']],drop_first=True)

In [7]:
dms

     League_N  Division_W  NewLeague_N
0       False       False        False
1        True        True         True
2       False        True        False
3        True       False         True
4        True       False         True
..        ...         ...          ...
317      True       False         True
318     False       False        False
319     False        True        False
320     False       False        False
321     False        True        False

[322 rows x 3 columns]

In [8]:
y = df['Salary']
x = df.drop(['Salary','League','Division','NewLeague'],axis=1).astype('float64')
X = pd.concat([x, dms[['League_N','Division_W','NewLeague_N']]],axis=1)

In [9]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import Lasso,LassoCV
from sklearn.metrics import mean_squared_error, r2_score

In [10]:
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.25,random_state=42)

In [11]:
Lasso_model = Lasso().fit(xtrain, ytrain)
Lasso_model.intercept_

C:\Users\Phavour\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.923e+06, tolerance: 3.853e+03
  model = cd_fast.enet_coordinate_descent(

342.8733925858781

In [12]:
Lasso_model.coef_

array([-1.98558949e+00,  5.50494749e+00,  4.79612807e+00,  1.02123896e-01,
       -8.11521080e-01,  4.87004116e+00, -9.97808288e+00, -2.19391227e-01,
        6.16237616e-01,  9.03214960e-03,  8.73990383e-01,  7.84172593e-01,
       -8.13423037e-01,  1.83989460e-01,  4.04846687e-01, -4.08650952e+00,
        2.67092023e+01, -1.11463261e+02, -0.00000000e+00])

In [13]:
y_pred = Lasso_model.predict(xtest)
py.sqrt(mean_squared_error(ytest, y_pred))

345.6190692407432

In [14]:
r2_score(ytest, y_pred)

0.3657513009571677

In [15]:
Lasso_model_cv = LassoCV(alphas=py.random.randint(0,1000,100),cv=10, max_iter=10000,n_jobs=-1).fit(xtrain, ytrain)

In [16]:
Lasso_model_cv.alpha_

11

In [19]:
Lasso_tuned = Lasso().set_params(alpha = 14).fit(xtrain,ytrain)
y_tuned_pred = Lasso_tuned.predict(xtest)
py.sqrt(mean_squared_error(ytest, y_tuned_pred))

C:\Users\Phavour\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.397e+06, tolerance: 3.853e+03
  model = cd_fast.enet_coordinate_descent(

346.7083916078357

In [20]:
Lasso_tuned = Lasso().set_params(alpha = 11).fit(xtrain,ytrain)
y_tuned_pred = Lasso_tuned.predict(xtest)
py.sqrt(mean_squared_error(ytest, y_tuned_pred))

C:\Users\Phavour\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.453e+06, tolerance: 3.853e+03
  model = cd_fast.enet_coordinate_descent(

346.15568037806304

In [21]:
pd.Series(Lasso_tuned.coef_, index=xtrain.columns)

AtBat          -1.940316
Hits            5.172154
HmRun           2.654410
Runs            0.273631
RBI            -0.020136
Walks           4.837214
Years          -5.485198
CAtBat         -0.251125
CHits           0.713944
CHmRun          0.139325
CRuns           0.851595
CRBI            0.725532
CWalks         -0.793964
PutOuts         0.180163
Assists         0.386744
Errors         -2.906986
League_N        0.000000
Division_W    -68.674966
NewLeague_N     0.000000
dtype: float64